<div class="page-header">
  <h1>Welcome to cms9 demo app!</h1>
</div>
  <h2>Posts</h2>
  <%= render 'index_post_list', posts: @posts %>
  <h2>Blogs</h2>
  <%= render 'index_post_list', posts: @blogs %>
  <h2>Careers</h2>
  <%= render 'index_post_list', posts: @careers %>
