<div class="row">
  <% @posts.each do |post| %>
  	<div class="col-md-4">
      <div class="well">
      	<%= post.field('Image').blank? ? '' :  image_tag(post.field('Image')) %>
        <%= link_to post.field('Title'), post_path(post.id) %>
        <%= post.field('Description') %>
       </div>
    </div>
  <% end %>
</div>
