<footer style="position: fixed; width: 100%; bottom: 0;">
  <div class="footer-holder">
      <div class="container">
        <div class="row">
        	<p>Copyright 2016. Klika d.o.o. Sarajevo. All Rights Reserved.</p>
        </div>
      </div>
   </div>
</footer>
