<div class="bs-component">
   <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
            </button>
            <%= link_to 'CMS9',root_path, class:'navbar-brand' %>
        </div>
         <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
    				<% Cms9::PostDefinition.all.each do |post_def| %> 
              <% if post_def.posts.count != 0 %>
                <li><%= link_to post_def.name , posts_path({name: post_def.name}) %></li>
              <% end %>
            <% end %>
            </ul>
         </div>
      </div>
   </div>
</div>

